bootstrap.servers=<public_ip_of_kafka_deployment>:9092
group.id=mirrormaker-group
exclude.internal.topics=true
client.id=mirror_maker_consumer
partition.assignment.strategy=org.apache.kafka.clients.consumer.RoundRobinAssignor

#Required for Security
security.protocol=SASL_PLAINTEXT
sasl.mechanism=PLAIN